---
import Page from "../components/Page.astro";
---

<Page title="FIXME Portfolio">
  <h1>Welcome to my Portfolio</h1>
  <h2>Project Menu</h2>
  <nav>
    <ul>
      <li>
        <a href="/projects/binary-search/"> Binary Search Project </a>
      </li>
      <li>
        <a href="/projects/portfolio/"> APCSP Portfolio </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
</Page>
