---
import Page from "./Page.astro";

let { title, assignment } = Astro.props;
---

<Page title={title}>
  <div class="container">
    <h1>
      {title}
    </h1>
    <p>
      Assignment: {assignment}
    </p>
    <slot />
  </div>
</Page>
