---
import Project from "../../components/Project.astro"
---

<Project
  title="Personality Quiz"
  assignment="Create a program built on the concept of binary search"
>
  <p>My project was super fun, I worked hard on it!</p>

</Project>
