@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


h1{
    font-size: 6em;
    font-size: calc(2em + 2vw);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
}

.section{
    text-align:center;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    color: #fff;
}

/* Backgrounds colors for sections */
.fp-section:nth-child(1){
    background-image: linear-gradient(128deg,#3f61ff,#55ccff);
}

.fp-section:nth-child(2){
    background-image: linear-gradient(128deg,#ff9a3f,#ff4b40);
}

.fp-section:nth-child(3){
    background-image: linear-gradient(128deg,#fc40ff,#543fff);
}
.fp-section:nth-child(4){
    background-image: linear-gradient(128deg,red,yellow);
}
.fp-section:nth-child(5){
    background-image: linear-gradient(128deg,purple,#590016);
}

.fp-watermark{
    display: none;
}

.fp-controlArrow:hover {
  opacity: 1;
  transition: opacity .5s;
  color: antiquewhite;
}

.fp-controlArrow {
    opacity: 0.5;
    transition: opacity .5s;
    color: #fff;
}