---
permalink: "project/{{ project.slug }}.html"
pagination:
  data: projects
  size: 1
  alias: project
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio: {{ project.title }}</title>
</head>
<main>
  <h1>{{project.title}}</h1>
  <p>{{project.description}}</h1>
</main>